.sacola {
  background-image: url(../img/sacola.png);
  background-repeat: no-repeat;
  background-position: top right;
  font-size: 14px;
  padding-right: 35px;
  text-align: right;
  width: 140px;
  position: absolute;
  top: 0;
  right: 0;
}

.menu-opcoes a {
  color: #036;
}

body {
  color: #333;
  font-family: "lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.menu-opcoes ul li {
  display: inline;
  margin-left: 20px
}

.container {
  margin: 0 auto;
  width: 940px
}

header {
  position: relative
}
.menu-opcoes {
  position: absolute;
  bottom: 0;
  right: 0
}
