body {
  color: #333333;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-right: auto;
  margin-left: auto;
  width: 940px;
}
h1 {
  background-image: url(../img/sobre-background.jpg);
}
h2 {
  border-bottom: 2px solid #333333;
}
figure {
  background-color: #f2eded;
  border: 1px solid #ccc;
  text-align: center;
}
figcaption {
  font-style: italic;
}

figure {
  background-color: #f2eded;
  border: 1px solid #ccc;
  text-align: center;
  padding: 15px;
  margin: 30px;
}

figcaption {
  font-style: italic;
  margin-top: 10px;
}

#centro-distribuicao {
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}

#rodape{
  color
}